@import "src/styles/constants.scss";

:host {
  display: grid;
  padding: 0 10%;
  height: 100%;
  align-items: center;
  background-color: $header-bg-color;
  color: $header-text-color;
  border-bottom: 0.2rem solid $emphasis-color;
}

h1 {
  font-weight: bold;
}
