@import "src/styles/constants.scss";

$border-color: darken($main-bg-color, 10%);
$border-thickness: 0.05rem;

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  border-radius: 0.5rem;
  background-color: $primary-bg-color;
  box-shadow: 0.1rem 0.1rem 5px 0px rgba(0, 0, 0, 0.39);
  border: $border-thickness solid $border-color;
}

a {
  display: block;
  padding: 0 0.5rem;
  background-color: $primary-bg-color;
  color: $primary-text-color;
  text-decoration: none;
  line-height: 2;
  border-bottom: $border-thickness solid $border-color;
  transition: background-color 0.3s;

  &:hover {
    background-color: $emphasis-color;
  }
}

li:last-child a {
  border-bottom: none;
}
