/* You can add global styles to this file, and also import other style files */
@import "src/styles/normalize.scss";
@import "src/styles/constants.scss";

html,
body {
  height: 100vh;
  font-family: "Lato", Arial, sans-serif;
  background-color: $main-bg-color;
}
