:host {
  display: grid;
  grid:
    "header" 10%
    "main" 90%;
  height: 100%;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  max-width: 1024px;
  width: 95%;
  height: 95%;
  place-self: center;
}
